<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!-- mapUnderscoreToCamelCase 속성과 BoardVO에 대한 타입 앨리어스 속성 설정 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="org.scoula.board.domain"/>
    </typeAliases>
</configuration>
